/* header.component.scss */

.toolbar {
  --background-color: black; /* Cambia el color de fondo del header */
}

.toolbar {
  --ion-toolbar-height: 50px; /* Ajusta la altura según sea necesario */
  --ion-background-color: black; /* Cambia el color de fondo del toolbar */
  --color: white; /* Cambia el color del texto en el toolbar */
}

.login-icon {
  width: 40px; /* Define un ancho fijo o usa porcentajes para que sea responsive */
  height: auto; /* Altura automática para mantener la proporción */
  max-width: 100%; /* Garantiza que la imagen no se desborde */
  margin-right: 10px;
}
.carrito {
  width: 40px; /* Ancho del icono del carrito */
  height: auto; /* Altura automática para mantener la proporción */
  color: white;
  margin-left: auto; /* Mueve el contenido a la derecha */
  margin-right: 10px; /* Espacio a la derecha */
}
.logo {
  width: 70px; /* Define un ancho fijo o usa porcentajes para que sea responsive */
  height: auto; /* Altura automática para mantener la proporción */
  max-width: 100%; /* Garantiza que la imagen no se desborde */
  margin-left: 20px;
}