/* header.component.scss */
:host {
  position: relative;
  z-index: 10; /* Asegura que el header esté en un nivel por debajo del contenedor de resultados */
}

.toolbar {
  --background-color: rgb(0, 0, 0); /* Cambia el color de fondo del header */
  z-index: 1; 
   --ion-toolbar-height: 50px; /* Ajusta la altura según sea necesario */
  --ion-background-color: rgb(0, 0, 0); /* Cambia el color de fondo del toolbar */
  --color: white; /* Cambia el color del texto en el toolbar */
  border-bottom: 7px solid #BA56E9;
  
  
}

.login {
  width: 40px; 
  height: auto; 
  margin-left: 0px;
  margin-right: 20px;
  filter: invert(43%) sepia(60%) saturate(5000%) hue-rotate(270deg) brightness(95%) contrast(100%);
}
.carrito {
  width: 40px; 
  height: auto; 
  margin-left: 40px;
  margin-right: 40px;
  filter: invert(43%) sepia(60%) saturate(5000%) hue-rotate(270deg) brightness(95%) contrast(100%);
}


.login:hover, .carrito:hover {
  opacity: 0.8;
}


.logo {
  width: 90px; /* Define un ancho fijo o usa porcentajes para que sea responsive */
  height: auto; /* Altura automática para mantener la proporción */
  max-width: 100%; /* Garantiza que la imagen no se desborde */
  margin-left: 40px;
}


.results-wrapper {
  position: relative; /* Asegura que el contenedor padre tenga posición relativa */
  display: flex;
  justify-content: right; /* Centra horizontalmente el contenido del wrapper */
}

