
:host {
  position: relative;
  z-index: 10;
}

.toolbar {
  --background-color: black; 
  z-index: 1; 
   --ion-toolbar-height: 50px;
  --ion-background-color: black; 
  --color: white; 
  
}

.login {
  width: 40px; 
  height: auto; 
  margin-left: 0px;
  margin-right: 20px;
  filter: invert(43%) sepia(60%) saturate(5000%) hue-rotate(270deg) brightness(95%) contrast(100%);
}
.carrito {
  width: 40px; 
  height: auto; 
  margin-left: 40px;
  margin-right: 40px;
  filter: invert(43%) sepia(60%) saturate(5000%) hue-rotate(270deg) brightness(95%) contrast(100%);
}


.login:hover, .carrito:hover {
  opacity: 0.8;
}


.logo {
  width: 90px;
  height: auto; 
  max-width: 100%; 
  margin-left: 40px;
}


.results-wrapper {
  position: relative; 
  display: flex;
  justify-content: right; 
}

