<ion-header translucid>
  <ion-toolbar>
    <table style="width: 100%;">
      <tr>
        <td style="width: 30%; justify-content: center;"></td>
        <td style="width: 50%;"></td>
        <td style="width: 5%; text-align: left;"></td>
        <td style="width: 5%; text-align: right;"></td>      
      </tr>
      <tr>
        <td>
          <ion-title>
            <img src='assets/images/etech-negro.png' alt="logo" style="max-width: 15%; max-height: 10%;"> 
          </ion-title>
          
        </td>
        <td>
            <app-select></app-select>
          
        </td>
        <td>
          <div class="ion-text-end">
            <app-carrito></app-carrito>
          </div>
        </td>
        <td>
          <div class="ion-text-end">
          <app-login></app-login>
        </div>
        </td>
      </tr>
    </table>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contenido de la página aquí -->
</ion-content>
