ion-footer {
    background-color: #f6f6f6;
    ion-toolbar {
        --background: #a2fdf2; /* Color de fondo del toolbar */
        color: rgb(71, 82, 241); /* Color del texto del toolbar */
      }
    ion-title {
      text-align: center;
      color: #333;
    }
  }
  