.custom-footer {
  --background: black;
  --ion-toolbar-background: black;
  --ion-text-color: white;
  
}

.custom-footer ion-segment-button {
  color: white;
  font-size: 10px; /* Ajusta el tamaño del texto */
  padding: 0px; /* Ajusta el relleno interno del botón */
  
}

.custom-footer ion-segment-button.ion-activated {
  background: #333; /* Color de fondo cuando está activo */
}

.custom-footer ion-segment-button::part(indicator) {
  background: white; /* Color de la barra debajo de los botones */
}

.footer-title {
  color: white; /* Color del texto del título */
  text-align: center; /* Centrar el título */
  font-size: 16px; /* Ajusta el tamaño del título */
}


  