.custom-footer {
  height: auto;
  background: black;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

.logo {
  width: 127px;
  height: 115px;
  max-width: 100%; /* Garantiza que la imagen no se desborde */
  margin-left: 50px;
}

.texto {
  grid-template-columns: repeat(4, 1fr); 
  color: var(--ion-text-color);
  display: inline-flex;
  gap: 200px;
  padding-left: 170px;
}

.informacion, .atencion, .contactanos, .redes {
  font-size: 20px;
  color: white;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-top: 20px;
}

.columna1, .columna2, .columna2-1,.columna3, .columna4{
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin: 0; /* Elimina cualquier margen que pueda estar añadiendo espacio extra */
}

.columna1{
  padding: 5px 0; /* Ajusta el padding para reducir el espacio */
}

.columna2-1{
  padding-top: 10px;
}
.columna3{
padding-top: 10px;
}

.iconos{
  display: flex;
  padding-top: 22px;
  gap: 20px;
}