<ion-footer class="custom-footer">
  <ion-toolbar>
    <ion-title class="footer-title">E-TECH ~ BETTER THAN AMAZON ~</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment mode="md" scrollable>
      <ion-segment-button value="masInformacion">
        Más información |
      </ion-segment-button>
      <ion-segment-button value="soporte">
        | Soporte |
      </ion-segment-button>
      <ion-segment-button value="contactaEmail">
        | Contacta por email |
      </ion-segment-button>
      <ion-segment-button value="contactaTelefono">
        | Contacta por teléfono |
      </ion-segment-button>
      <ion-segment-button value="quienesSomos">
        | Quiénes somos |
      </ion-segment-button>
      <ion-segment-button value="sobreNosotros">
        | Sobre nosotros |
      </ion-segment-button>
      <ion-segment-button value="noticias">
        | Noticias |
      </ion-segment-button>
      <ion-segment-button value="blog">
        | Blog |
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
