<ion-content fullscreen>
  <div class="background">
    <img src="../../assets/images/purple.jpg" alt="fondo2" class="background-img">
  </div>
  <div class="form-container">
    <div class="form-columns">
      <div class="form-column">
        <div class="profile-container">
          <form class="form-box">
            <ion-item>
              <ion-label>Nombre</ion-label>
              <ion-input [(ngModel)]="client.name" name="name" [readonly]="!isEditing" class="form-input"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Apellido</ion-label>
              <ion-input [(ngModel)]="client.last_name" name="last_name" [readonly]="!isEditing" class="form-input"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Nombre de Usuario</ion-label>
              <ion-input [(ngModel)]="client.username" name="username" [readonly]="!isEditing" class="form-input"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Correo Electrónico</ion-label>
              <ion-input [(ngModel)]="client.email" name="email" [readonly]="!isEditing" class="form-input"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Número de Teléfono</ion-label>
              <ion-input [(ngModel)]="client.phone_number" name="phone_number" [readonly]="!isEditing" class="form-input"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Provincia</ion-label>
              <ion-input [(ngModel)]="client.province.name" name="province" [readonly]="true" class="form-input"></ion-input>
            </ion-item>
          </form>
        </div>
      </div>
      <div class="form-column">
        <div class="form-icon-container">
          <img src="../../assets/images/loginuser.png" alt="Icono" class="form-icon">
        </div>
        <app-custom-button expand="full" class="edit-button" (click)="enableEditing()" [disabled]="isEditing">Editar</app-custom-button>
        <app-custom-button expand="full" class="save-button" (click)="saveChanges()" [disabled]="!isEditing || !changesMade()" [class.disabled]="!isEditing || !changesMade()">Guardar</app-custom-button>
        <app-custom-button expand="full" class="register-button" (click)="logout()">Cerrar Sesión</app-custom-button>
      </div>
    </div>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
  
</ion-content>

