.carrito {
  width: 40px; /* Ancho del icono del carrito */
  height: auto; /* Altura automática para mantener la proporción */
  color: white;
  margin-left: auto; /* Mueve el contenido a la derecha */
  margin-right: 10px; /* Espacio a la derecha */
}
