<footer class="custom-footer">
  <div class="footer-container">
    <h2 class="footer-title">E-TECH ~ BETTER THAN AMAZON ~</h2>
    <nav class="footer-nav">
      <ul class="footer-segment">
        <li class="footer-segment-item"><a href="#"> Más información</a> </li>
        <li class="footer-segment-item"><a href="#"> Soporte</a> </li>
        <li class="footer-segment-item"><a href="#"> Contacta por email</a> </li>
        <li class="footer-segment-item"><a href="#"> Contacta por teléfono</a> </li>
        <li class="footer-segment-item"><a href="#"> Quiénes somos</a> </li>
        <li class="footer-segment-item"><a href="#"> Sobre nosotros</a> </li>
        <li class="footer-segment-item"><a href="#"> Noticias</a> </li>
        <li class="footer-segment-item"><a href="#"> Blog</a></li>
      </ul>
    </nav>
  </div>
</footer>
