<div>
  <ion-grid>
    <ion-row>
      <ion-col >
        <ion-card>
          <img src="assets/images/carruselmages/setup.jpg" alt="Placeholder Image"/>
          <ion-card-header>
            <ion-card-title>PC's Gaming</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Descubre la variedad de PC's Gaming que tenemos para ti.
          </ion-card-content>
        </ion-card>
      </ion-col>
  
      <ion-col>
        <ion-card>
          <img src="assets/images/carruselmages/laptop.jpg" alt="Placeholder Image"/>
          <ion-card-header>
            <ion-card-title>Laptops Gaming</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Si te gusta lo portatil, echa un vistazo a las laptop gaming que tenemos para ofrecer.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>