<!--
<ion-slides #islide 
            [effect]= "'slide'"
            [pager]= "'true'" [autoplay]= "'000'"
            [loop]= "'true'" [initialSlide]= "'0'"
            [speed]= "'300'" [direction] = "'horizontal'"
            [paginationType] = "'bullets'"
            (ionSlideWillChange)="beforeSlideChange($event)"
            (ionSlideDidChange)="afterSlideChange($event)">
        
  <ion-slide>
    <h3>PC's Gaming</h3>
    <p>Descubre la variedad de PC's que tenemos para ti.</p>
  </ion-slide>
  <ion-slide>
    <h3>Laptop's gaming</h3>
    <p>Las mejores laptops gaming</p>
  </ion-slide>
  <ion-slide>
    <h3>Componentes</h3>
    <p>Componentes de alta gama</p>
  </ion-slide>
</ion-slides>
-->
