ion-content {
  --background: #000;
}

.container {
  display: flex;
  margin: 85px;
  justify-content: space-between;
  padding: 20px;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image-container::before {
  content: '';
  position: absolute;
  width: 798px;
  height: 600px;
  background: radial-gradient(50% 50% at 50% 50%, #9747FF 4%, #BA56E9 34.5%, rgba(186, 86, 233, 0.00) 100%);
  border-radius: 50%;
  z-index: -1; /* Asegura que el círculo esté detrás de la imagen */
}

ion-card {
  align-items: center;
  width: 543px;
  height: 543px;
  padding: 20px;
  --background: #000;
  margin-top: 60px;
}

.image {
  width: 600px;
}

ion-card-title {
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 72px;
  text-transform: uppercase;
}

.precio {
  color: #BA56E9;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.contenido {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}
