<!-- product-detail.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>Detalles del Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center ion-align-items-center ion-justify-content-center">
    <ion-card *ngIf="product">
      <!-- Iterar sobre urlimages para mostrar las imágenes -->
      <div *ngFor="let image of urlimages" class="image">
        <img [src]="image.url" alt="{{ product.name }}">
      </div>
      <ion-card-header>
        <ion-card-title>{{ product.name }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p><strong>Marca:</strong> {{ product.brand.name }}</p>
        <p><strong>codigo:</strong> {{ product.unique_product_code }}</p>
        <p><strong>Descripción:</strong> {{ product.especifications }}</p>
        <p><strong>Precio:</strong> {{ product.price | currency }}</p>
        <!-- Otros detalles del producto -->
      </ion-card-content>
      <div>
        <ion-button tabindex="0" (click)="CarritoService.addToCart(product)" (keydown)="handleKeyDown($event, CarritoService.addToCart, product)">Agregar al Carrito</ion-button>
      </div>
    </ion-card>
  </div>
  <app-footer></app-footer>
</ion-content>

