
ion-content {
  --marging: 85px;
  --background: #000;
  display: flex;
  justify-content: space-between;
    
}
  ion-card {
    align-items: center;
    width: 543px;
    height: 543px;
    padding: 20px;
  }

  .image {
    width: 750px;
    height: 485px;
    align-items: center;
    gap: 175px;
  }

  .fondo {
    background-color: #202020;
  }

ion-card-header{
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 72px;
  text-transform: uppercase;
}