
<div class="seleccionable">
  <ion-item class="centrado">
    <ion-label>DESKTOPS</ion-label>
    <ion-select interface="popover"  trigger="bottom-end" side="bottom" alignment="start"class="select-pequeno popover-custom">
      
      <ion-select-option value="opcion1">Gaming</ion-select-option>
      <ion-select-option value="opcion2">Working</ion-select-option>
      <ion-select-option value="opcion3">Parts</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item  class="centrado">
    <ion-label>LAPTOPS</ion-label>
    <ion-select interface="popover" class="select-pequeno" (ionChange)="laptops1($event.detail.value)">
      <ion-select-option value="opcion1">Gaming</ion-select-option>
      <ion-select-option value="opcion2">Mac Os</ion-select-option>
      <ion-select-option value="opcion3">Linux</ion-select-option>
      <ion-select-option value="opcion4">Windows</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="centrado">
    <ion-label>MOBILES</ion-label>
    <ion-select interface="popover" class="select-pequeno">
      <ion-select-option value="opcion1">Tablets</ion-select-option>
      <ion-select-option value="opcion2">Android</ion-select-option>
      <ion-select-option value="opcion3">Iphone</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="centrado">
    <ion-label>COMPONENTS</ion-label>
    <ion-select interface="popover" class="select-pequeno">
      <ion-select-option value="opcion1">Motherboards</ion-select-option>
      <ion-select-option value="opcion2">Memories</ion-select-option>
      <ion-select-option value="opcion3">Graphic cards</ion-select-option>
      <ion-select-option value="opcion4">Processors</ion-select-option>

    </ion-select>
  </ion-item>

  <ion-item class="centrado">
    <ion-label>ACCESORIES</ion-label>
    <ion-select interface="popover" class="select-pequeno">
      <ion-select-option value="opcion1">Headphones</ion-select-option>
      <ion-select-option value="opcion2">Keyboards</ion-select-option>
      <ion-select-option value="opcion3">MORE</ion-select-option>
    </ion-select>
  </ion-item>
</div>
