.seleccionable {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 16px; 
}

.centrado, .despegable{
  padding-right: 40px;
}
.seleccionable ion-label {
  --color: white; 
}
