.seleccionable {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 14px; /* Ajusta el tamaño de fuente según sea necesario */
  padding: 8px 16px; /* Ajusta el espaciado interno según sea necesario */
  --background: #000000; /* Cambia el color de fondo del toolbar */
  --color: #ffffff; /* Cambia el color del texto en el toolbar */
}
ion-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 14px; /* Ajusta el tamaño de fuente según sea necesario */
  padding: 8px 16px; /* Ajusta el espaciado interno según sea necesario */
  --background: #000000; /* Cambia el color de fondo del toolbar */
  --color: #ffffff; /* Cambia el color del texto en el toolbar */
}
.select-pequeno {
  font-size: 26px; /* Tamaño de fuente ajustado */

}

.seleccionable ion-label {
  --color: rgb(255, 255, 255); /* Color del texto */
}
