.seleccionable {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 16px; 
}

.centrado, .despegable{
  padding-right: 30px;
}
.seleccionable ion-label {
  --color: white; 
  font-weight: bold
}

