.contenedor {
  margin: 0 auto;
}

.header {
  margin-bottom: 20px;
  text-align: center;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.datos {
  flex: 1;
  margin-right: 100px;
  width: 500px;
  margin-left: 100px;
}

.carrito {
  background: rgba(118, 98, 134, 0.70);
  width: 35%;
  position: static;
  padding-top: 75px;
}

.carrito-item-detalles{
  display: flex;

}

.carrito .carrito-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #323441;
  padding: 20px;
}

.carrito .carrito-item .img-item {
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

.carrito .carrito-item .info-producto {
  display: flex;
  flex-direction: column;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
  text-transform: uppercase;

  .titulo {
    margin-top: 20px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
  }  
}

.carrito .carrito-item .selector-cantidad {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.carrito .carrito-item .carrito-item-cantidad {
  border: none;
  background: transparent;
  width: 40px;
  text-align: center;
}

.carrito .carrito-item .carrito-item-precio {
  font-size: 18px;
  margin-left: 5px;
}

.carrito-item-detalles p{
  margin: 0;
}

.carrito-total {
  background: rgba(0, 0, 0, 0.50);
  padding: 20px;
}

.carrito-total .fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
}

h1 {
  padding-top: 90px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 96px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 10px;
}
.icono{
  text-align: center;
  margin-top: 100px;
}
.datos p{
  color: #BA56E9;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

ion-label {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

ion-button {
  --background: #BA56E9;
  --color: #fff;
  --border-radius: 30px;
  margin-top: 20px;
  font-size: 20px;
  text-transform: uppercase;
}

ion-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}


@media screen and (max-width: 850px) {
  .main-content {
    flex-direction: column;
  }

  .datos {
    width: 100%;
    margin-right: 0;
  }

  .carrito {
    width: 100%;
    margin-top: 20px;
  }
}

