
<ion-content class="productos">
  <div class="contenedor">
    <div class="contenedor-item" *ngFor="let product of products">
      <div class="item">
        <!-- Enlace al detalle del producto -->
        <a [routerLink]="['/product-detail', product.id_product]">
          <div class="titulo">{{product.name}}</div>
        </a>
        <div>
          <img [src]="product.image" alt="{{product.name}}" class="img-item">
        </div>
        <div class="marca">{{product.brand.name}}</div>
        <div class="precio">{{product.price | currency}}</div>
        <div>
          <ion-button tabindex="0" (click)="CarritoService.addToCart(product)" (keydown)="handleKeyDown($event, CarritoService.addToCart, product)">Agregar al Carrito</ion-button>
        </div>
      </div>
    </div>
  

    <!-- Carrito vacío -->
    <div *ngIf="CarritoService.cartItems.length === 0" class="carrito-vacio">
      <h4>Tu carrito está vacío</h4>
      <p>¡Agrega algunos productos para comenzar!</p>
    </div>

    <!-- Carrito con Articulos-->
    <div *ngIf="CarritoService.cartItems.length > 0" class="carrito">
      <div class="carrito-header">
        <h4>Tu Carrito</h4>
      </div>
      <div class="carrito-item" *ngFor="let item of CarritoService.cartItems">
        <div class="carrito-item-detalles">
          <img [src]="item.image" alt="" class="img-item">
          <span class="titulo">{{item.name}}</span>
          <div class="selector-cantidad">
            <i class="fa-solid fa-minus" (click)="CarritoService.decreaseQuantity(item)" (keydown)="handleKeyDown($event, CarritoService.decreaseQuantity, item)"></i>
            <input type="text" [value]="item.quantity" class="carrito-item-cantidad" readonly>
            <i class="fa-solid fa-plus" (click)="CarritoService.increaseQuantity(item)" (keydown)="handleKeyDown($event, CarritoService.increaseQuantity, item)"></i>
          </div>
          <div>
            <span class="carrito-item-precio">{{item.price * item.quantity | currency}}</span>
          </div>
        </div>
        <div class="eliminar">
          <i class="fa-solid fa-trash" (click)="CarritoService.removeFromCart(item)" (keydown)="handleKeyDown($event, CarritoService.removeFromCart, item)"></i>
        </div>
      </div>
      <div class="carrito-total">
        <div class="fila">
          <span class="carrito-precio-total">Su Total es {{ CarritoService.getTotalPrice() | currency }}</span>
        </div>
        <ion-button (click)="checkout()" (keydown)="handleKeyDown($event, checkout)">Pagar</ion-button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>

