<ion-content class="productos">   
  <h1>PRODUCTOS</h1>
  <div class="contenedor">
    <!-- Listita Productos :D-->
    <div class="contenedor-item" *ngFor="let product of products">
      <div class="item">
        <span class="titulo">{{product.title}}</span>
        <img [src]="product.image" alt="" class="img-item">
        <span class="precio">{{product.price | currency}}</span>
        <ion-button tabindex="0" (click)="addToCart(product)" (keydown)="handleKeyDown($event, addToCart, product)">Agregar al Carrito</ion-button>
      </div>
    </div>

    <!-- Carrito -->
    <div class="carrito">
      <div class="carrito-header">
        <h4>Tu Carrito</h4>
      </div>
      <div class="carrito-item" *ngFor="let item of cartItems">
        <img src="assets/images/carrito.png" alt="" width="80px">
        <div class="carrito-item-detalles">
          <span class="titulo">{{item.title}}</span>
          <div class="selector-cantidad">
            <!-- iconos -->
            <button (click)="decreaseQuantity(item)" (keydown)="handleKeyDown($event, decreaseQuantity, item)">-</button>
            <input type="text" [value]="item.quantity" class="carrito-item-cantidad" readonly>
            <button (click)="increaseQuantity(item)" (keydown)="handleKeyDown($event, increaseQuantity, item)">+</button>
            <button (click)="removeFromCart(item)" (keydown)="handleKeyDown($event, removeFromCart, item)">🗑️</button>          
          </div>
          <span class="carrito-item-precio">{{item.price * item.quantity | currency}}</span>
        </div>
      </div>

      <div class="carrito-total">
        <div class="fila">
          <span class="carrito-precio-total">
            Su Total es {{ getTotalPrice() | currency }}
          </span>
        </div>
        <ion-button (click)="checkout()" (keydown)="handleKeyDown($event, checkout)">Pagar</ion-button>
      </div>
    </div>
  </div>
</ion-content>
