<ion-grid class="cards-container">
  <ion-row>
    <ion-col>
      <ion-card>
        <img src="assets/images/setup1.jpg" alt="Placeholder Image"/>
        <ion-card-header>
          <ion-card-title>Setup más popular</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          La potencia y la elegancia combinados en un solo setup!
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card>
        <img src="assets/images/setup2.jpg" alt="Placeholder Image"/>
        <ion-card-header>
          <ion-card-title>Lo más nuevo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Descubre todas las novedades que tenemos para ti!
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

