.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Usamos 100vh para que el contenedor ocupe toda la altura de la pantalla */
  padding: 20px;
  box-sizing: border-box;
  background-size: cover; /* Ajusta la imagen para cubrir toda el área del contenedor */
}

  .form-icon-container {
    text-align: center;
    margin-bottom: 30px;
    
  }

  ion-item {
    margin-bottom: 15px;
    background-color: #3B383E;
    color: #D9D9D9;
    border-radius: 30px;
  }

  .form-icon {
    width: 70px;
    height: 70px; 
  }

  form {
    width: 100%;
    max-width: 400px;
    background-color:#111;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera para el efecto de elevación */
  }

  ion-button {
    margin-top: 0px;
    font-size: 20px;
    text-transform: uppercase;
    align-items: center;
    border-radius: 30px;
  }

.login-button {
  --background: #BA56E9;
  --color: #fff;  
  border-radius: 30px;
}

.register-button {
  --background: #111;
  --color: #BA56E9;
}

.error-message {
  color: red;
  margin-top: 15px;
  text-align: center;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Asegura que esté detrás de todos los demás elementos */
  object-fit: cover; /* Ajusta la imagen para cubrir todo el área */
  opacity: 0.8; /* Ajusta la opacidad según sea necesario */
}

.texto-normal{
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  text-transform: uppercase;
  padding-top: 40px;
}